table{
  background-color: #C0C0C0;
}
.vertical-menu {
  width: 200px;
  height: 550px;
  overflow-y: auto;
  /*/margin-top: -160px;*/
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
  
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

#table {
  border-collapse: collapse;
  width: 100%;
}

#th, #td {
  text-align: left;
  padding: 8px;
}

#tr:nth-child(even){background-color: #f2f2f2}

#th {
  background-color: #4CAF50;
  color: white;
}